body{
    background: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
}
.header_top{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;

    
    
}
.nav{
    display: flex;
    align-items: center;
}
.nav_list{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}
.nav_list a{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
    
}
.nav_number a{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
}
.text{
    color: #fff;
    font-size: 70px; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    display: block;
}
button{
    margin-top: 40px;
    margin-left: 100px;
    background-color: #5E9387;
    color: #fff;
    border: 0px;
    border-radius: 70px;
    width: 329px;
    height: 77px;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

